{{- with site.Params.author }}
<div class="social">
  {{ with .email }}<a href="mailto:{{ . }}" title="Email" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>{{ end }}
  {{ with .github }}<a href="https://github.com/{{ . }}" title="GitHub" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>{{ end }}
  {{ with .linkedin }}<a href="https://www.linkedin.com/in/{{ . | safeURL }}/" title="LinkedIn" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>{{ end }}
  {{ with .cv }}<a href="{{ . | relURL }}" title="CV" aria-label="CV"><i class="ai ai-cv"></i></a>{{ end }}
</div>
{{- end }}
